.high-light-guide {
  background: red;
  height: 2px;
  width: 30px;
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: -50px;
  &:before,
  &:after {
    content: "";
    background: red;
    position: absolute;
    height: 2px;
    width: 10px;
  }

  &:before {
    right: -3px;
    bottom: -3px;
    transform: rotate(-45deg);
  }

  &:after {
    right: -3px;
    top: -3px;
    transform: rotate(45deg);
  }
}
